.grid-layout {
    display: grid;
    /* grid-template-columns: 100px 100px 100px; */
    /* grid-template-columns: repeat(3, 33.33%); */
    /* grid-template-rows: 100px 100px 100px; */
    /* grid-template-rows: repeat(2, 100px 50px 80px); */
    grid-template-columns: repeat(auto-fill, 100px);
    /*此处设置的时候，自动换行的第二行，第三行都不是100px，应该与grid-auto-rows搭配使用*/
    /* grid-template-rows: repeat(auto-fill, 100px 100px); */
    /* grid-template-columns: 500px 1fr 2fr; */
    /* grid-template-columns: 1fr 1fr minmax(100px, 1fr); */
    /* grid-template: 100px 100px 'aaa'; */
    grid-template-areas: 'a a a''b b b''c c c';
    /*areas值要与项目属性搭配使用才有意义*/
    /* shorthand */

    /* grid-row-gap: 14px;
    grid-column-gap: 8px;
    grid-gap: 12px; */
    grid-auto-flow: column dense;
    /* grid shorthand 不推荐 */

    /* justify-items: start; */
    /* stretch | start | end | center*/
    /* align-items: start; */
    /* place-items: center; */
    /* shorthand */

    /* justify-content: start;
    align-content: start;
    place-content: center; */

    /* grid-auto-columns: 50px; */
    /* 剩余的或新增的，按照自动的这个规则 */
    grid-auto-rows: 100px;
}

.items {
    font-size: 2em;
    text-align: center;
    border: 1px solid #e5e4e9;
}

.item-1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.item-2 {
    grid-area: c;
    justify-self: start;
    align-self: start;
    /* place-self: center; */
    /* Firefox 45, Chrome 59 */
}