<!DOCTYPE html>
<html lang=''>

<head>
    <title>Flex layout</title>
    <meta charset="utf-8" />
    <meta name="author" data="Ms. Yang" />
    <link rel="stylesheet" href="../../style/layout/flex.css">
</head>

<body>
    <header></header>
    <section class="flex-layout">
        <article>
            <h3>First</h3>
            <p>In this article we are going to get you to work through a series of exercises to help you understand how
                flexbox works. To get started, you should make a local copy of the first starter file — flexbox0.html
                from our github repo — load it in a modern browser (like Firefox or Chrome), and have a look at the code
                in your code editor. You can see it live here also.</p>
        </article>
        <article>
            <h3>Second</h3>
            <p>In this article we are going to get you to work through a series of exercises to help you understand how
                flexbox works. To get started,</p>
        </article>
        <article>
            <h3>Third</h3>
            <p>In this article we are going to get you to work through a series of exercises to help you understand how
                flexbox works. To get started,</p>
        </article>
        <article>
            <h3>First</h3>
            <p>In this article we are going to get you to work through a series of exercises to help you understand how
                flexbox works. To get started, you should make a local copy of the first starter file — flexbox0.html
                from our github repo — load it in a modern browser (like Firefox or Chrome), and have a look at the code
                in your code editor. You can see it live here also.</p>
        </article>
        <article>
            <h3>Second</h3>
            <p>In this article we are going to get you to work through a series of exercises to help you understand how
                flexbox works. To get started,</p>
        </article>
        <article>
            <h3>Third</h3>
            <p>In this article we are going to get you to work through a series of exercises to help you understand how
                flexbox works. To get started,</p>
        </article>
        <article>
            <h3>First</h3>
            <p>In this article we are going to get you to work through a series of exercises to help you understand how
                flexbox works. To get started, you should make a local copy of the first starter file — flexbox0.html
                from our github repo — load it in a modern browser (like Firefox or Chrome), and have a look at the code
                in your code editor. You can see it live here also.</p>
        </article>
        <article>
            <h3>Second</h3>
            <p>In this article we are going to get you to work through a series of exercises to help you understand how
                flexbox works. To get started,</p>
        </article>
        <article>
            <h3>Third</h3>
            <p>In this article we are going to get you to work through a series of exercises to help you understand how
                flexbox works. To get started,</p>
        </article>
    </section>
    <form class="form-flex">
        <input type="email" name="email" placeholder="Enter your email">
        <button type="submit">Send</button>
    </form>
    <footer></footer>
</body>

</html>