<!DOCTYPE html>
<html lang=''>

<head>
    <title>Grid layout</title>
    <meta charset="utf-8" />
    <meta name="author" data="Ms. Yang" />
    <link rel="stylesheet" href="../../style/layout/grid.css">
</head>

<body>
    <header></header>
    <section class="grid-layout">
        <div class="items item-1">1</div>
        <div class="items item-2">2</div>
        <div class="items">3</div>
        <div class="items">4</div>
        <div class="items">5</div>
        <div class="items">6</div>
        <div class="items">7</div>
        <div class="items">8</div>
        <div class="items">9</div>
    </section>
    <footer></footer>
</body>
</html>